*_dev.ipynb
.idea
.vscode
.env
.ruff_cache

redis-data
data
venv
.venv
local-embedding-reranker

*.swp
*.swo

.next
node_modules/
_pagefind/

.nx/installation
.nx/cache
.nx/workspace-data


.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md